// Fonts
    $default-font-size: 1.6rem;

// Colors
    $color-background: #f1f1f1; // Light background
    $color-dark: darkslategray; // Dark color for text

    // Colors - links
    $color-link: rgba(#111111, 0.9);
    $color-link-hover: rgba($color-link, 0.5);
