#homeContainer {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}

#homeContainer h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#homeContainer img {
    border-radius: 50%;
}

#homeContainer h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.1rem;
}

#homeContainer p {
    font-size: 1.4rem;
}